PGUSER=postgres
PGPASSWORD=REEMPLAZAR_CON_CLAVE_LOCAL
PGHOST=localhost
PGPORT=5432
PGDATABASE=universidad_db
DATABASE_URL=postgresql+pg8000://postgres:REEMPLAZAR_CON_CLAVE_LOCAL@localhost:5432/universidad_db
